<nav class="navbar navbar-expand-lg themeColorBg" id="navigationBar">
  <div class="col-lg-2 col-md-3 col-sm-4 col-6">
    <a [routerLink]="['/']" class=" navbar-brand">
      <img src="assets/images/Hoppy Fare_Final Logo-White Format.svg" class="fit-image" alt="Card image cap">
    </a>
  </div>

  <button class="navbar-toggler col-2" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto navList">
      <li class="nav-item active">
        <pre class="card card-block card-header display-none">{{asyncSelected | json}}</pre>
        <input type="text" class="p-1" [value]="query" placeholder="Search" ngxTypeahead [taUrl]="url" [taParams]="params"
          [taApi]="api" (taSelected)="handleHttpResultSelected($event)" id="searchBar">
        <span>
          <button class="btn btn-md login-btn bg-none">
            <span class="fas fa-search"></span>
          </button>
        </span>
      </li>

      <li class="nav-item dropdownTrigger">
        <button class="btn btn-md login-btn bg-none dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="onMouseClick($event)">
          <span class="fas fa-bars login-btn bg-none"></span>
        </button>
        <div id="Category" class="col-md-12 col-lg-12 col-sm-12 col-12 category-section dropdownContent dropdown-menu">
          <div class="row thumbnailContainer">
            <div class="col-md-2 col-lg-2 col-sm-12 col-12 p-4 categoryIcon">
              <div class="flipper">
                <div class="thumbnail frontSide">
                  <a href="/">
                    <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
                    <div>
                      <h5>
                        <b>Category</b>
                      </h5>
                    </div>
                  </a>
                </div>
                <div class="backSide">
                  Finest Street Magic Trick collections
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 col-12 category-bg-Color p-4 categoryIcon">
              <h5>
                <b>Category</b>
              </h5>
              <div class="category-items" *ngFor="let item of toolbarInfo.toolbarDetails">
                <a title="{{item.toolbarName}}" href="#">{{item.toolbarName}}</a>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 col-12 p-4 categoryIcon">
              <div class="flipper">
                <div class="thumbnail frontSide">
                  <a href="/">
                    <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
                    <div>
                      <h5>
                        <b>Category</b>
                      </h5>
                    </div>
                  </a>
                </div>
                <div class="backSide">
                  Finest Street Magic Trick collections
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 col-12 p-4 categoryIcon">
              <div class="flipper">
                <div class="thumbnail frontSide">
                  <a href="/">
                    <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
                    <div>
                      <h5>
                        <b>Category</b>
                      </h5>
                    </div>
                  </a>
                </div>
                <div class="backSide">
                  Finest Street Magic Trick collections
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 col-12 p-4 categoryIcon">
              <div class="flipper">
                <div class="thumbnail frontSide">
                  <a href="/">
                    <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
                    <div>
                      <h5>
                        <b>Category</b>
                      </h5>
                    </div>
                  </a>
                </div>
                <div class="backSide">
                  Finest Street Magic Trick collections
                </div>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-12 col-12 p-4 categoryIcon">
              <div class="flipper">
                <div class="thumbnail frontSide">
                  <a href="/">
                    <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
                    <div>
                      <h5>
                        <b>Category</b>
                      </h5>
                    </div>
                  </a>
                </div>
                <div class="backSide">
                  Finest Street Magic Trick collections
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-md cartButton" [routerLink]="['cart']">
          <span class="fas fa-shopping-cart"></span>
          <span>{{cartvalue}}</span>
        </a>
      </li>

      <li class="nav-item signInContent">
        <button class="btn btn-md login-btn bg-none" (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)" id="loginBtn" href="#" data-toggle="modal" data-target="#exampleModal">
          <span class="fas fa-user-plus"></span>
        </button>
        
        <div class="dropdown-content" [ngClass]="[(signInModalHide && mouseOverOut)? 'profileShowDropDown' : 'profileHideDropDown']"
          (mouseover)="mouseOver($event)" (mouseout)="mouseOut($event)">
          <p class="loginCaret"><i class="fas fa-caret-up"></i></p>
          <div><i class="fas fa-user-circle icon"></i><span><a href="#">My Profile</a></span></div>
          <div><i class="fas fa-luggage-cart icon"></i><span><a href="/orders">Orders</a></span></div>
          <div> <i class="fas fa-power-off icon"></i><span><a class="pointer" (click)="logOut()">Logout</a></span></div>
        </div>
      </li>

    </ul>
  </div>
</nav>


<modal-popup (messageEvent)="recieveMessage($event)"></modal-popup>