/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .home-search { min-width: 100px; }}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .home-search  { min-width: 200px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .home-search  { min-width: 250px; } }

.formHeader{
    position: relative;
}