/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .home-search { min-width: 100px; }}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .home-search  { min-width: 200px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .home-search  { min-width: 250px; } }

.formHeader{
    position: relative;
}

#signupBtnContainer button{
    margin: 10px;
}

.cartButton{
    color: antiquewhite;
    /* border-color: aqua; */
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.inline-block{
    display: inline-block;
}
.display-none{
    display: none;
}
.bg-color{
    background-color: #666666;
}
.login-btn{
    color: antiquewhite;
}
.logoLink{
    width : 100%;
    display: inline-block;
}

.logoLink img {
    width: 100%;
}

.header {
    position: relative;
} 

.headerToolbar {
    float: left;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fit-image {
    width : 100%;
}

.navList {
    display: inline-block;
    text-align: right;
    width: 100%;
}

li.nav-item{
    display: inline-block;
}