/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { .home-search { min-width: 100px; }}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .home-search  { min-width: 200px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .home-search  { min-width: 250px; } }

.formHeader{
    position: relative;
}

#signupBtnContainer button{
    margin: 10px;
}

.cartButton{
    color: antiquewhite;
    /* border-color: aqua; */
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.inline-block{
    display: inline-block;
}
.display-none{
    display: none;
}
.bg-color{
    background-color: #666666;
}
.login-btn{
    color: antiquewhite;
}
.logoLink{
    width : 100%;
    display: inline-block;
}

.logoLink img {
    width: 100%;
}

.header {
    position: relative;
} 

.headerToolbar {
    float: left;
    text-align: right;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.fit-image {
    width : 100%;
}

.navList {
    display: inline-block;
    text-align: right;
    width: 100%;
}

li.nav-item{
    display: inline-block;
}

#navigationBar {
    padding: 0;
}
.align-center{
    text-align: center;
}
.category-items{
    transition: all ease 0.5s;
}
.category-items:hover {
    padding-left: 10px;
}
.category-bg-Color{
    background-color:#f5f5f5;
}
a div {
    color: #000;
}
.category-section{
    position: absolute;
    right: 0;
    top : 40px;
    z-index: 1;
    background-color: #ffffff;
    text-align: center;
    color : #999999;
}

#navbar {
    position: relative;
}

.dropdownContent {
    display: none;
    transition: all ease 0.5s;
    z-index: 20;
}

.dropdownTrigger:hover .dropdownContent {
    display: block;
}

.categoryIcon {
    border: 1px solid #f1f1f1;
    cursor: pointer;
    perspective: 500px;
}

.categoryIcon h5{
    margin: 20px;
}

.frontSide, .backSide {
    backface-visibility: hidden;
    position: relative;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.backSide {
    transform: rotateY(180deg);
    color: #ff7f00;
    position: absolute;
}

.flipper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all ease 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.categoryIcon:hover .flipper{
    transform: rotateY(180deg);
}

.navbar-brand{
    padding: 0;
}

#searchBar{
    min-width: 250px;
}
.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all ease 0.5s;
    margin-right: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}
.dropdown-content div {
    padding-left: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.dropdown-content a:hover {color:#007bff;}

.profileShowDropDown{
    display: block;
}
.profileHideDropDown{
    display: none;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.loginCaret{
    float: right;
    position: relative;
    width: 0;
    top: -22px;
    left: -22px;
    font-size: x-large;
    color: #f9f9f9;
}
.icon{
    color:#007bff;
}
.pointer{
    cursor: pointer;
}