<div class="col-md-4 col-lg-4 col-12 col-sm-12 content">
    <div class="cardContent">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 img">
            <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text">
            <h4>
                <b>Featured Brands</b>
                <span style="color: #ff7f00">.</span>
            </h4>
            <p class="textInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </p>
            <p>
                <button type="button" class="btn">SHOP NOW</button>
            </p>
        </div>
    </div>
</div>
<div class="col-md-4 col-lg-4 col-12 col-sm-12 content">
    <div class="cardContent">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 img">
            <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text">
            <h4>
                <b>Featured Brands</b>
                <span style="color: #ff7f00">.</span>
            </h4>
            <p class="textInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </p>
            <p>
                <button type="button" class="btn">SHOP NOW</button>
            </p>
        </div>
    </div>
</div>
<div class="col-md-4 col-lg-4 col-12 col-sm-12 content">
    <div class="cardContent">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 img">
            <img src="assets/images/demo.jpg" alt="Lights" style="width:100%">
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 text">
            <h4>
                <b>Featured Brands</b>
                <span style="color: #ff7f00">.</span>
            </h4>
            <p class="textInfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
            </p>
            <p>
                <button type="button" class="btn">SHOP NOW</button>
            </p>
        </div>
    </div>
</div>