<div class="container-fluid clearfix" id="product-section">

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-left descriptionLeft">
        <div class="productMainImage">
            <img [src]="itemImageUrl" alt="Bicycle Card1" />
        </div>
        <div class="container-fluid">
            <ul class="productImages clearfix">
                <li class="col-md-4 col-lg-4 col-sm-6 col-xs-6 singleImage p-0" (click)="imageChange($event)" *ngFor="let img of productsObj.imgUrls;let i=index">
                    <img [src]="img" alt="i" />
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-left">
        <div class="productDescription">
            <h2>{{productsObj.title}}
                <!-- <sup class="mediumSup">®</sup> -->
                </h2>
        </div>
        <div>
            <h5>
                <span class="badge badge-primary">Vintage</span>
                <span class="monospaced review">No. 1960140180</span>
            </h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description" *ngFor="let productDesc of productsObj.description">
                    {{productDesc}}
                </p>
            </div>
            <ul>
                <li class="p1" *ngFor="let productSpec of productsObj.specification">{{productSpec}}</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 p-0">
                    <!-- <span class="sr-only">Four out of Five Stars</span> -->
                    <span class="fa-star" *ngFor="let star of starRating; let i=index" id="{{star+1}}" [ngClass]="{'fas starRating':i<productsObj.rating,'far':i>=productsObj.rating}" aria-hidden="true"></span>
                    <span class="badge badge-success">{{productsObj.totalReview}}</span>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 ">
                    <button class="review" (click)="scrollToRatingDiv()">Write a Review</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bottom-rule">
                <h2 class="product-price">{{productsObj.price | currency:'&#8377;'}}</h2>
            </div>
        </div>
        <!-- end row -->

        <div class="row add-to-cart" *ngIf="productsObj.quantity >0">
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 product-qty">
                <span>
                    <button class="fas fa-minus btn-qty btnIncDec" (click)="decreaseQty()"></button>
                </span>
                <input class="btn btn-default btn-lg btn-qty" [(ngModel)]="qtyInput" />
                <span>
                    <button class="fas fa-plus btn-qty btnIncDec" (click)="increaseQty()" [disabled]="qtyInput>productsObj.quantity || (addToCartText == 'Out of Stock')"></button>            
                </span>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <button class="btn btn-lg btn-primary btn-brand btn-full-width" (click)="AddTotalQuantitytoCart();" [disabled]="qtyInput==0 || (addToCartText == 'Out of Stock') || qtyInput>productsObj.quantity">
                    {{addToCartText}}
                </button>
            </div>
        </div>
        <!-- end row -->
        <div class="row inStockMargin text-danger" *ngIf="productsObj.quantity ==0">
            <h4>Out Of Stock</h4>
        </div>
        <div class="row inStockMargin" *ngIf="productsObj.quantity >0" [hidden]="addToCartText == 'Out of Stock'">
            <div class="col-sm-12 col-xs-12 text-center p-0" [ngClass]="{'col-md-3 col-lg-3 text-success':inStockText=='In Stock','col-md-7 col-lg-7 text-danger':inStockText!='In Stock'}">
                <span class="monospaced">{{inStockText}}</span>
            </div>
        </div>
        <!-- end row -->
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 commentSection pull-left" id="itemComment">
        <form (submit)="onCommentSubmit()" id="reviewForm">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 pull-left p-0">
                    <span class="fa-star" *ngFor="let star of starRating; let i=index" id="{{star+1}}" [ngClass]="{'fas starRating':i<rate,'far':i>=rate}"
                        (mouseover)="onMouseOverRating($event)" (mouseout)="onMouseOutRating($event)" (click)="onMouseClickRating($event)"
                        aria-hidden="true"></span>
                    <span class="badge badge-success" name="rating">{{rate}}</span>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 pull-left p-0">
                    <button type="submit" class="btn btn-lg btn-primary btn-brand btn-full-width btnAddComment" [disabled]="rate==0">
                        Add Comment
                    </button>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left">
                <label for="title">Title:</label>
                <input type="text" [(ngModel)]="commentObj.title" class="form-control" name="title" id="titleRating" placeholder="" value=""
                    required>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" [(ngModel)]="commentObj.description" rows="5" id="descriptionRating"></textarea>
                <hr>
            </div>
        </form>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" *ngFor="let review of reviewObj; let i=index">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left p-0 rating commentUser">
                <h6>
                    <strong>{{review.userName}}</strong>
                </h6>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 pull-left p-0 rating">
                <label for="rating">Rating: </label>
                <span class="badge badge-success">{{review.rating}}</span>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-0 pull-left" *ngIf="review.title!=''">
                <p>
                    <strong>{{review.title}}</strong>
                </p>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  p-0 pull-left" *ngIf="review.description!=''">
                <p>{{review.description}}</p>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12  p-0 pull-left">
                <hr>
            </div>
        </div>
    </div>
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 similarProduct pull-left" id="similarProduct">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4>
                <strong>Similar products</strong>
            </h4>
            <hr>
        </div>
        <div class="cardLayout clearfix">
            <div class="cardContainer col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let product of similarProductObjects">
                <a href="/products/{{product.category | lowercase}}/{{product._id}}">
                    <div class="card" id="{{product.category+'/'+product._id}}">
                        <img class="card-img-top" [src]="product.imgUrl" alt="Card image cap">
                        <div class="list-group list-group-flush">
                            <div>Title : {{product.title}}</div>
                            <div>Price : {{product.price | currency:'&#8377;'}}</div>
                            <div>Rating : {{product.rating}}</div>
                        </div>
                        <div class="card-buttons">
                            <a href="#">Buy Now</a>
                            <a (click)="addsimilarproducttocart();">Add to Cart</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end container -->