<div class="container-fluid clearfix" id="product-section">

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-left descriptionLeft">
        <div class="productMainImage">
            <img [src]="itemImageUrl" alt="Bicycle Card1"/>
        </div>
        <div class="container-fluid">
            <ul class="productImages clearfix">
                <li class="col-md-4 col-lg-4 col-sm-6 col-xs-6 singleImage p-0" (click)="imageChange($event)" *ngFor="let img of images;let i=index">
                    <img [src]="img" alt="i" />
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 pull-left">
        <div class="productDescription">
            <h2>BICYCLE
                <sup class="mediumSup">®</sup>
                BIG BOX PLAYING CARDS</h2>
        </div>
        <div>
            <h5>
                <span class="badge badge-primary">Vintage</span>
                <span class="monospaced review">No. 1960140180</span>
            </h5>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="description">
                    Big Box cards are a super-sized alternative!
                </p>
                <p class="p1">Want to be a hit at your next game night? Be sure to pick up Bicycle
                    <span class="s1">
                        <sup>®</sup>
                    </span>Big Box playing cards. A fun, super-sized alternative to regular cards.</p>
            </div>
            <ul>
                <li class="p1">Bicycle Big Box Playing Cards feature the classic rider back design</li>
                <li class="p1">Big Box playing cards measure 7” x 4.5”</li>
                <li class="p1">Available in red or blue</li>
                <li class="p1">Perfect for all ages</li>
                <li class="p1">Great for play, as a novelty item, for decorating, and more</li>
            </ul>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 p-0">
                    <span class="sr-only">Four out of Five Stars</span>
                    <span class="fas fa-star" aria-hidden="true"></span>
                    <span class="fas fa-star" aria-hidden="true"></span>
                    <span class="fas fa-star" aria-hidden="true"></span>
                    <span class="fas fa-star" aria-hidden="true"></span>
                    <span class="far fa-star" aria-hidden="true"></span>
                    <span class="badge badge-success">61</span>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 ">
                    <a class="monospaced review" href="#">Write a Review</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bottom-rule">
                <h2 class="product-price">$129.00</h2>
            </div>
        </div>
        <!-- end row -->

        <div class="row add-to-cart">
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 product-qty">
                <span class="btn btn-default btn-lg btn-qty btnIncDec">
                    <span class="fas fa-minus" aria-hidden="true" (click)="decreaseQty($event)"></span>
                </span>
                <input class="btn btn-default btn-lg btn-qty" value="1" [(ngModel)]="qtyInput" />
                <span class="btn btn-default btn-lg btn-qty btnIncDec">
                    <span class="fas fa-plus" aria-hidden="true" (click)="increaseQty($event)"></span>
                </span>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <button class="btn btn-lg btn-primary btn-brand btn-full-width" [disabled]="qtyInput==0">
                    Add to Cart
                </button>
            </div>
        </div>
        <!-- end row -->

        <div class="row inStockMargin">
            <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 text-center p-0">
                <span class="monospaced text-success">In Stock</span>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
<!-- end container -->