h1 .r-ball, h1 .trademark {
    font-size: 12px;
    top: -20px;
}

.descriptionLeft{
    padding: 10px 0;
}

.descriptionLeft .productMainImage img{
    width: 100%;
}
.pull-left {
    float: left;
}
.mediumSup{
font-size: 55%;
top: -.6em;
}
.productDescription{
padding-top: 5%;
}
.review{
    vertical-align: sub;
    background: 0;
    border: 0;
    cursor: pointer;
    color: #007bff;
}
button:focus {outline:0;}
.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
}
.inStockMargin{
    margin:1% auto;
}
ul.productImages{
    list-style-type: none;
}

ul.productImages li{
    display: inline-block;
    float: left;
}

.singleImage img {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    border : 1px solid #efefef;
}

.singleImage {
transition: all ease 0.4s;
}

.singleImage:hover {
    transform: scale(1.08);
    z-index: 10;
}
.btnIncDec{
    font-size: 14px;
    vertical-align: sub;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.rating span.fa-star:hover{
    color:red;
    cursor: pointer;
}
.btnAddComment{
    float: right;
}
.commentSection{
    border: 1px solid #ced4da;
    margin: 5px;
    padding: 10px;
}
.commentUser{
    color: #007bff;
}
.similarProduct{
    border: 1px solid #ced4da;
    margin: 5px;
    padding: 10px;
}
.spinner .fas {    
     font-size: 150px;
    color: #1b4067; 
}
.centered {
    margin: 50px auto;
    text-align: center;
}
.error .fas{
    color:red; 
}
@media(min-width : 1024px) {
    .centered {
        margin: 150px auto;
    }
}
.card-buttons a:hover {
    background: #007bff;
    color: white;
}
