
.product-content{
    display: inline-block;
    position: relative;
    top:-40px;
    padding: 0;
}

.navbar-brand{
    padding: 0;
}
.about-container{
    float: left;
    background-color: black;
    padding: 40px 0;
}
.newProduct-content{
    display: inline-block;
    padding: 0;
}
.banner{
    padding: 0;
}

.main-content {
    padding : 20px 0;
}