.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.label-Opacity{
    opacity: 0.5;
    margin-bottom: 0;
}
.labelProgress{
    width: 25%;
}
.progressPadding{
    padding-left: 1%;
    padding-right: 1%;
}
.fontColor{
    color: #007bff;
}
.bg-progress{
    background-color: #007bff;
}
.bg-inProgress{
    background-color: #e9ecef;
}

.card button:hover {
    text-decoration: none;
}

.ordersContainer {
    padding: 20px;
    background: #ffffff;
}

.card-header{
    cursor: pointer;
}

.card {
    margin: 15px 0;
}
.spinner .fas {    
    font-size: 150px;
   color: #1b4067; 
}
.centered {
   margin: 50px auto;
   text-align: center;
}
.error .fas{
   color:red; 
}