.header{
    color:#ff7f00;
    text-align: center;
}
.aboutTitle{
    color:#ff7f00;
    text-align: center;
}
.circularBadge {
    display: inline-block;
    border-radius: 50%;
    background: #ff7f00;
    padding: 6px;
}

.circularBadge span {
    padding: 5px 10px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
}
.fas{
    font-size:x-large;
}
.location{
    font-size: xx-large;
    position: relative;
    top: 10px;
    color: white;
}
.category{
    padding: 0;
    display: inline-block;
}
.subCategory{
    float: left;
    padding: 0;
    display: inline-block;
}
.mapMarker{
    padding: 0;
    display: inline-block;
    float: left;
}
.markerContent{
    float: left;
    padding: 8px;
    text-align: center;
}
.markerText{
    font-size: medium;
    font-weight: bold;
    color: antiquewhite;
}
.markerSubText{
    font-size: small;
    color:antiquewhite;
}

.markerContent button {
    border-radius: 20px;
    font-size: small;
    font-weight: bold;
    background-color: #666666;
}



.subCategoryIcon {
    float: left;
    display: inline-block;
    text-align: center;
    margin: 20px 0;
}

.about-container {
    padding: 30px 0;
}
.markerContent button:hover{
    background-color: #ff7f00;
    color:antiquewhite;
}
