<div class="mainContainer">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 header">
        <h5>What we offer</h5>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 aboutTitle">
        <h2>
            <b style="color: antiquewhite">Last40 Services</b>.</h2>
    </div>
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 category">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 subCategory">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 subCategoryIcon">
                <div class="circularBadge">
                    <span class="fas fa-map-marker-alt"></span>
                </div>
            </div>
            <div class="markerContent col-lg-9 col-md-12 col-12">
                <p class="text-uppercase markerText">Free Shipping Worldwide</p>
                <p class="markerSubText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                <button type="button" class="btn">LEARN MORE</button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 subCategory">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 subCategoryIcon">
                <div class="circularBadge">
                    <span class="fas fa-shield-alt"></span>
                </div>
            </div>
            <div class="markerContent col-lg-9 col-md-12 col-12">
                <p class="text-uppercase markerText">30 days return guaranteed</p>
                <p class="markerSubText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                <button type="button" class="btn">LEARN MORE</button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 subCategory">
            <div class="col-lg-3 col-md-12 col-sm-12 col-12 subCategoryIcon">
                <div class="circularBadge">
                    <span class="fas fa-gem"></span>
                </div>
            </div>
            <div class="markerContent col-lg-9 col-md-12 col-12">
                <p class="text-uppercase markerText">100% premium product</p>
                <p class="markerSubText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                <button type="button" class="btn">LEARN MORE</button>
            </div>
        </div>
        <!-- <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 subCategory">
                <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6 mapMarker"><div class="circularBadge">
                        <span class="fas fa-map-marker-alt"></span>
                    </div></div>
                <div class="col-md-10 col-lg-10 col-xs-6 col-sm-6 markerContent">
                    <p class="text-uppercase markerText">Free Shipping Worldwide</p>
                    <p class="markerSubText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button type="button" class="btn">LEARN MORE</button>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 subCategory">
                    <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6 mapMarker"><div class="circularBadge">
                            <span class="fas fa-map-marker-alt"></span>
                        </div></div>
                    <div class="col-md-10 col-lg-10 col-xs-6 col-sm-6 markerContent">
                        <p class="text-uppercase markerText">Free Shipping Worldwide</p>
                        <p class="markerSubText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button type="button" class="btn">LEARN MORE</button>
                    </div>
                </div> -->
    </div>
</div>