
    <div class="container header">
        <h1>Welcome to HobbyFare!</h1>
    </div>
    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" [(ngModel)]="loginDetailsObj.userEmailId" (ngModelChange)="isValidEmail(loginDetailsObj.userEmailId)"  name="email" required>
      <label for="errorEmail" class="errorEmail" [ngClass]="{'error':isValidEid}">Email should be in proper format (e.g:something@mail.com).</label>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="loginDetailsObj.userPassword" (ngModelChange)="isValidPassword(loginDetailsObj.userPassword)" name="psw" required>
      <label for="errorPassword" class="errorPassword" [ngClass]="{'error':isValidPwd}">Password should be greater than 8 characters.</label>
          
      <div style="text-align: center">
        <button type="submit" class="w-50" (click)="onLoginSubmit()">Login</button>
      </div>
      
    </div>
