.cart-container{
    padding: 20px;
    background-color: #f2f3f5;
}

.cart-content{
    margin: 0 auto;
    display: block;
}

.prodThumbnail{
    display: inline-block;
}

.itemName{
    display: block;
    font-size: 16px; 
}

.itemDetailsCart{
    display: inline-block;
    vertical-align: top;
}
.itemDesc{
    display: block;
    font-size: 12px;
    color: #878787;
}

.itemPriceDesc{
    margin-top: 20px}

.itemDiscountedPrice{
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
    margin-right: 12px;
}
.itemActualPrice{
    display: inline-block;
    margin-right: 8px;
    text-decoration: line-through;
    color: #878787;
}
.itemDiscount{
    display: inline-block;
}

.billingSection {
    margin: 10px 0;
}

.productInCart{
    background: #fff;
    border-radius :5px;
    padding: 10px;
    border: 1px solid #efefef;
    margin: 5px 0;
}

.productInCart a:hover{
    text-decoration: none;
}

.itemDiscount {
    color: #19a319;
}

.itemDetailsCart {
    padding: 5px;
}

.btnIncDecCart{
    font-size: 11px;
    vertical-align: sub;
    padding: 0px;
}

.inputCartQnty{
    width: 11%;
    border: 1px solid;
    padding: 0px;
}

.btnColor{
    background-color:#ff0000;
    border-color:#ff0000;
 } 

 .invalid-promo {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }

  .visible{
      display: inline-block;
  }

  .ntvisible{
    display: none;
}

.clearBtn{
    position: relative;
    right: 17px;
    z-index: 9999;
}


.billSection, .cartProductList {
    float: left;
    display: inline-block;
}

a.removeLink {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

a.removeLink:hover {
    color: #ffffff;
}

.pull-left {
    display: inline-block;
    float: left;
}