/* You can add global styles to this file, and also import other style files */
footer {
    padding: 20px;
    background: #343a40;
    color: #fff;
}

.slider {
    background: #fff;
    float: left;
    border: 1px solid #d1d5da;
    padding: 10px; 
}

.main-container{
    /* padding: 20px; */
    background-color: #f2f3f5;
}
.main-content{
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', Calibri, Tahoma;
}
body a:hover{
    text-decoration: none;
}
.toolbar {
    float: left;
    background: #fff;
    border: 1px solid #d1d5da;
    padding: 0;
}
@media (min-width: 768px) { 
.ta-results{width: 100%;}}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .ta-results{width: 100%;}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .ta-results{width: 75%;}}

.ta-results {
    top : 40px;
    font-size: 14px;
}

#goUpLink {
    cursor: pointer;
}

.themeColorBg {
    background-color: #1b4067;
}

.spinner i{
    font-size: 150px;
    color: #1b4067;    
}

.spinner {
    
    margin: 50px auto;
    text-align: center;
}
/* card styling*/
.card {
    padding: 5px;
    background: #fafafa;
    color: #212529;
}

.cardContainer{
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    float: left;
    display: inline-block;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cardContainer:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.cardContainer img {
    transition: all ease 0.4s;
}

.cardContainer:hover img {
    transform: scale(1.08);
}

.card-buttons{
    border-top : 1px solid #f2f3f5;
}

.card-buttons a{
    display: inline-block;
    width : 50%;
    float: left;
    padding: 2px;
    text-align: center;
}



.card-buttons a:first-child {
    border-right: 1px solid #f2f3f5;
}

.card-buttons a{
    font-size: 14px;
    font-weight: 600;
    transition: all ease 0.5s;
    text-transform: capitalize;
}


.card img {
    border-bottom: 1px solid #f2f3f5;
    padding: 10px;
}

.cardLayout {
    clear: both;
    margin: 10px auto;
}
.list-group.list-group-flush{
    text-align: center;
    color: #212529;
}
.starRating{
    color: #ffc107;
}

/* spinner */
.spinnerUpdate{
    font-size: 50px;
    color: #1b4067;
    display: inline-block;
    vertical-align: middle;
}
.spinnerTitle{
    margin:10px;
}

.update-container {
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    text-align: center;
}

.updateContent{
    text-align: center;
    display: inline-block;
    position: absolute;
    padding: 20px;
    top : 50%;
    left : 50%;
    transform: translate(-50%,-50%);
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: all ease 0.5s;
}