/* You can add global styles to this file, and also import other style files */
footer {
    padding: 20px;
    background: #343a40;
    color: #fff;
}

.slider {
    background: #fff;
    float: left;
    border: 1px solid #d1d5da;
    padding: 10px; 
}

.main-container{
    /* padding: 20px; */
    background-color: #f2f3f5;
}
.main-content{
    margin: 0 auto;
}

body{
    font-family: 'Open Sans', Calibri, Tahoma;
}
body a:hover{
    text-decoration: none;
}
.toolbar {
    float: left;
    background: #fff;
    border: 1px solid #d1d5da;
    padding: 0;
}
@media (min-width: 768px) { 
.ta-results{width: 100%;}}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .ta-results{width: 100%;}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { .ta-results{width: 75%;}}

.ta-results {
    top : 40px;
    font-size: 14px;
}

#goUpLink {
    cursor: pointer;
}

.themeColorBg {
    background-color: #1b4067;
}