<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="col-md-12 col-sm-12">
        <button type="button" class="singnupModalClose close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-md-12 col-sm-12 register-title-border">
        <p class="register-title">Signup with {{title}}</p>
      </div>
      <div class="col-md-12 col-sm-12 divLoginBtnFacebook">
        <button class="loginBtn loginBtn--facebook">
          Login with Facebook
        </button>
        <button class='g-signin2' id="googleBtn" >Google Sign-In</button>
        <button class="g-signout2" (click)="signOut">Signout</button>
      </div>
    
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>