.catalogue{
    margin: 20px 0;
    border: 1px solid #f2f3f5;
    padding: 15px;
}

.card {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 23%;
}

.card-buttons{
    border-top : 1px solid #f2f3f5;
}

.card-buttons a{
    display: inline-block;
    width : 50%;
    float: left;
    padding: 2px;
    text-align: center;
}

.card-buttons a:hover{
    text-decoration: none;
}

.card-buttons a:first-child {
    border-right: 1px solid #f2f3f5;
}

.card-buttons a{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.card img {
    border-bottom: 1px solid #f2f3f5;
    padding: 10px;
}

.catalogue-controls {
    float: right;
}

.cardLayout {
    clear: both;
    margin: 10px auto;
}

.catalogue-controls select{
    margin: 0px 10px
}
.paginationProducts{
    text-align: center;
}
