<div class="catalogue">
    <div class="card" *ngFor="let product of productsObject.products | paginate: { itemsPerPage: 8, currentPage: p }">
        <img class="card-img-top" [src]="product.imgUrl" alt="Card image cap">
        <div class="list-group list-group-flush">
            <div>Title : {{product.title}}</div>
            <div>Price : {{product.price | currency:'&#8377;'}}</div>
            <div>Rating : {{product.rating}}</div>
        </div>
        <div class="card-buttons">
            <a href="#">Buy Now</a>
            <a href="#">Add to Cart</a>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event" class="paginationProducts"></pagination-controls>
</div>