.catalogue{
    /* margin: 20px 0; */
    border: 1px solid #f2f3f5;
    padding: 15px;
    color: #989898;
}


.catalogue-controls {
    display: inline-block;
    width : 100%;
}

.catalogue-controls select{
    margin: 0px 10px
}

.paginationComponent {
    display: block;
    margin: 10px auto;
    clear: both;
    text-align: center;
}

.paginationProducts{
    text-align: center;
    clear: both;
    display: block;
}

.catalogueControlItem {
    float: right;
    display: inline-block;
}

.paginationComponent ul{
    padding: 0;
}

/* .ngx-pagination .current {
    background: red;
  } */
.productItemFilter{
    margin-right: 10px;
    padding:5px;
}
#ddOrderByItems{
    padding: 5px;
}
#ddItemsPerPage{
    padding: 5px;
}

.itemDetailsCart[_ngcontent-c2] {
    padding: 5px;
}
/* ul li {
    padding: 5px;
    display: table-cell;
    cursor: pointer;
    transition: all ease 0.5s;
    text-decoration-color: orange;
}
ul li:hover{
    text-decoration: underline;
    text-decoration-color: orange;
    font-weight: 600;
} */

.topMenu {
    width: 100%;
    text-align: center;
    list-style-type: none;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.topMenu li {
    cursor: pointer;
    transition: all ease 0.5s;
    display: inline-block;
    float: left;
    border: 1px solid #ffffff;
    padding: 5px;
}

.active {
    font-weight: 600;
}

.topMenu li.active::after, .topMenu li:hover::after {
    width: 25%;
}

.topMenu li::after {
    content: '';
    display: block;
    border-bottom: 2px solid #ff7f00;
    position: relative;
    width: 0%;
    margin: 0 auto;
    top: 5px;
    transition: all ease 0.5s;
} 
.title{
    color: black;
    font-weight: bold;
}

.fa-star{
    font-size: small;
}
.paginationTemplate{
    margin: 0 auto;
    display: inline-block;
    padding : 5px 20px;
}
.paginationTemplate pagination-controls /deep/ ul.ngx-pagination {
    background-color: #ff7f00;
    border-radius: 20px;
    padding: 0;
    text-align: center;
}
.paginationTemplate pagination-controls /deep/ .ngx-pagination li.current {
    background: transparent;
}
.paginationTemplate pagination-controls /deep/ .ngx-pagination a:hover{
    background: transparent;
    color:#e6e6e6
}
.spinner .fas {    
    font-size: 100px;
   color: #1b4067; 
}
.centered {
   margin: 50px auto;
   text-align: center;
}
.error .fas{
    color:red; 
}
.card-buttons a:hover {
    background: #007bff;
    color: white;
}

