.catalogue{
    margin: 20px 0;
    border: 1px solid #f2f3f5;
    padding: 15px;
}

.card {
    padding: 5px;
    margin: 5px;
    float: left;
    background: #fafafa;
}

/*media queries for card*/
@media(min-width: 576px) {
    .card {
        width: 46%;
    }
}

@media(min-width: 768px) {
    .card {
        width: 46%;
    }
}

@media(min-width: 992px) {
    .card {
        width: 23%;
    }
}

.card-buttons{
    border-top : 1px solid #f2f3f5;
}

.card-buttons a{
    display: inline-block;
    width : 50%;
    float: left;
    padding: 2px;
    text-align: center;
}

.card-buttons a:hover{
    text-decoration: none;
}

.card-buttons a:first-child {
    border-right: 1px solid #f2f3f5;
}

.card-buttons a{
    font-size: 14px;
    font-weight: 600;
    transition: all ease 0.5s;
    text-transform: capitalize;
}

.card-buttons a:hover {
    background: #007bff;
    color: white;
}

.card img {
    border-bottom: 1px solid #f2f3f5;
    padding: 10px;
}

.catalogue-controls {
    display: inline-block;
    width : 100%;
}

.cardLayout {
    clear: both;
    margin: 10px auto;
}

.catalogue-controls select{
    margin: 0px 10px
}

.paginationComponent {
    display: block;
    margin: 10px auto;
    clear: both;
}

.paginationProducts{
    text-align: center;
    clear: both;
    display: block;
}

.catalogueControlItem {
    float: right;
    display: inline-block;
}

.paginationComponent ul{
    padding: 0;
}